@page
@model Web_153505_Shevtsova_D.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tea.Id" />
            <input type="hidden" asp-for="Tea.PhotoPath" />
            <div class="form-group">
                <label asp-for="Tea.Name" class="control-label"></label>
                <input asp-for="Tea.Name" class="form-control" />
                <span asp-validation-for="Tea.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Description" class="control-label"></label>
                <input asp-for="Tea.Description" class="form-control" />
                <span asp-validation-for="Tea.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Price" class="control-label"></label>
                <input asp-for="Tea.Price" class="form-control" />
                <span asp-validation-for="Tea.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Category" class="control-label"></label>
                <select asp-for="@Model.CategoryId" asp-items="@Model.selectList"></select>
                <span asp-validation-for="Tea.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Tea.PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}